<%= form_for(@telemetry) do |f| %>
  <% if @telemetry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telemetry.errors.count, "error") %> prohibited this telemetry from being saved:</h2>

      <ul>
      <% @telemetry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
