<h3> Elabora Sintetici</h3>
<div>
	<%= render partial:'databases/select', locals:{form_id:"db_synth"}%>		
	<%= render partial:'telemetries/select', locals:{form_id:"telemetry_synt"}%>
	<%= render partial: 'tasks/start', locals:{:task => Task.build("gensynth") }%>
	</div>