<p id="notice"><%= notice %></p>

<p>
  <b>Version:</b>
  <%= @database.version %>
</p>

<p>
  <b>Mission:</b>
  <%= @database.mission %>
</p>

<%= link_to 'Back', root_path, class:"btn btn-default" %>
