// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ui-widget{
	width:auto;
}

.task{
margin-top:1em;
	float:left;
	min-width:510px;
	.checkbox{
		float:left;
	}
	.btn{
		float:right;
	}
}
